@import "tailwindcss";

.editor-container {
  display: flex;
  justify-content: center;
  background: #f8fafc;
  min-height: 100vh;
  padding: 2rem;
}

.editor-container .jodit-container {
  max-width: 900px;
  width: 100%;
  background: white;
  padding: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: none;
  min-height: 80vh;
  border-radius: 4px;
}

.jodit-toolbar__box {
  border: none;
  background: transparent;
  padding: 1rem 0;
}

.jodit-status-bar {
  display: none; /* Hide bottom status bar */
}
